.current-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .current-card-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2f2f2f;
    }

    .card-image {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text {
        flex: 2;
        display: flex;
        flex-direction: column;
        padding: 1em;
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: #fff;

        /* stylelint-disable-next-line */
        h2 {
            margin-bottom: 0.35em;
        }

        /* stylelint-disable-next-line */
        span {
            font-size: 0.7em;
            text-transform: uppercase;
        }
    }

    .current-card-buy {
        display: flex;
        justify-content: center;
        padding: 1em;
        background: #4e4e4e;

        /* stylelint-disable-next-line */
        button {
            padding: 0.7em 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            background: #566c86;
            /* stylelint-disable-next-line */
            border: none;
        }
    }
}

.card-selector {
    display: flex;
    flex-direction: column;
    height: 100%;

    .current-card {
        flex: 1;
    }

    .cards {
        position: relative;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
        margin-top: 1em;
        margin-bottom: 2%;

        .tray {
            position: absolute;
            top: 30%;
            width: 100%;
            height: 70%;
            background: #2b2b2b;
        }
    }

    .balance {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: $balance;
        text-align: center;

        .item:not(:last-child) {
            margin-right: 1em;
        }
    }

    .shop-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2%;

        .third,
        .twothirds {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        @media only screen and (max-width: 539px) {
            .third {
                flex: 0;
            }
        }

        @media only screen and (min-width: 540px) {
            .third {
                flex: 1;
            }
        }

        .two-thirds {
            flex: 2;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .shop-action {
            padding: 0.7em 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            color: #fff;
            cursor: pointer;
            background: #566c86;

            /* stylelint-disable-next-line */
            border: none;

            &:disabled {
                color: #222;
                cursor: not-allowed;
                background: #666;
            }
        }
    }
}
