$player-list-font-size: 0.8em;
$player-list-gutter-size: 0.4em;

.player-list {
    margin-bottom: 1rem;
}

.player-list-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0.4rem;
    background: $player-list-background;

    &.ready {
        border-left: 5px solid $ready-indicator;
    }

    &.not-ready {
        border-left: 5px solid $not-ready-indicator;
    }

    &.quit {
        background: #3b3d40;

        .status {
            width: 100%;
            font-family: Arial, sans-serif;
            font-size: 1.2em;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
        }

        .name {
            font-style: italic;
            color: #cecece;
        }
    }

    &.opponent {
        border: 3px solid $player-list-background-opponent;
    }

    &:not(:last-child) {
        margin-bottom: 0.25rem;
    }

    .name {
        font-family: Arial, sans-serif;
        font-size: $player-list-font-size;
        font-weight: 700;
        color: $player-list-name;
        text-transform: uppercase;
    }

    &.local {
        .name {
            font-style: italic;
            color: $player-list-name-local;
        }
    }

    .player-health {
        position: relative;
        display: block;
        width: 100%;
        height: 16px;

        .fill {
            background: $player-list-healthbar-color;
        }

        .contents {
            position: absolute;
            top: 0;
            right: 0.25em;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: 700;
        }
    }

    .row {
        // stylelint-disable-next-line
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: $player-list-gutter-size;
        }

        .row-half {
            display: flex;
            width: 50%;
        }
    }

    .battle-info {
        // stylelint-disable-next-line
        width: fit-content;
        padding: 0.4em 1.2em;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        font-size: 0.75em;
        color: #c3c3c3;
        text-align: center;
        background: #333;

        .highlight {
            font-weight: 700;
            color: #ffcd74;
            text-transform: uppercase;

            &.win {
                color: $win-streak;
            }

            &.loss {
                color: $lose-streak;
            }

            &.opponent-name {
                color: $player-list-name;
            }
        }
    }

    .badges {
        // stylelint-disable-next-line
        display: flex;

        .badge {
            font-family: Arial, sans-serif;
            font-size: 0.8rem;
            font-weight: 700;
            color: #fff;

            &.money {
                margin-right: 0.4rem;
                color: $player-list-name-local;
            }
        }
    }

    .streak-indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 0.4em;
        font-family: Arial, sans-serif;
        font-size: $player-list-font-size;
        color: #fff;
        border-radius: 50%;

        &.win {
            background: $win-streak;
        }

        &.lose {
            background: $lose-streak;
        }
    }
}
