.navbar {
    display: flex;
    flex-direction: row;

    .navitem {
        padding: 0.7rem 0;
        font-size: 1.6rem;
        color: #fff;
        background: #171717;
        flex: 1;

        /* stylelint-disable-next-line */
        border: none;
        outline: none;

        &.active {
            text-decoration: underline;
            background: #3c3c3c;
        }

        &:not(:last-child) {
            border-right: 3px solid #3c3c3c;
        }
    }
}
