**/node_modules
**/dist
**/coverage
**/*.tsbuildinfo

.nx/
.git/
.github/
.vscode/
.faunadb/
./images/
metrics/

npm-debug.log
*.log

**/*.md

**/Dockerfile
**/*.Dockerfile
**/docker-compose.yml
**/docker-compose.*.yml
