/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.navbar {
  display: flex;
  flex-direction: row; }
  .navbar .navitem {
    padding: 0.7rem 0;
    font-size: 1.6rem;
    color: #fff;
    background: #171717;
    flex: 1;
    /* stylelint-disable-next-line */
    border: none;
    outline: none; }
    .navbar .navitem.active {
      text-decoration: underline;
      background: #3c3c3c; }
    .navbar .navitem:not(:last-child) {
      border-right: 3px solid #3c3c3c; }

.mobile .top-bar {
  display: flex;
  flex-direction: row;
  background: #1d1d1d; }
  .mobile .top-bar .round-indicator,
  .mobile .top-bar .phase-info {
    margin: 0.2rem 0;
    font-size: 1.2rem;
    flex: 1;
    white-space: nowrap; }

.content-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: space-between; }

.game-overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.25rem;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  background: #9da5bd; }

.overlay-header {
  display: flex;
  flex-direction: row; }

.overlay-title {
  flex: 1;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: underline; }

.close {
  padding: 0;
  font-size: 1.8rem;
  font-weight: 700;
  background: none;
  /* stylelint-disable-next-line */
  border: none; }

.overlay-content {
  overflow: scroll; }
  .overlay-content.fullscreen {
    height: 100%;
    box-sizing: border-box;
    padding: 0 0.25em;
    margin-top: 1em; }

.now-playing {
  margin-top: 0.5em; }

.help {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  /* stylelint-disable-next-line selector-max-type */
  /* stylelint-disable-next-line selector-max-type,selector-list-comma-newline-after */ }
  .help .piece-type {
    display: inline-block;
    /* stylelint-disable unit-disallowed-list */
    width: 24px;
    height: 24px;
    /* stylelint-enable unit-disallowed-list */
    margin-right: 0.5rem; }
  .help .section {
    margin-bottom: 0.4rem; }
    .help .section .header {
      margin-bottom: 0.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #ccc; }
    .help .section .subheader {
      margin-bottom: 0.4rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: #ccc; }
  .help ul {
    margin-left: 1.4rem;
    list-style-type: disc; }
  .help p,
  .help ul {
    margin-bottom: 1rem; }
  .help .list-header {
    font-weight: 700;
    color: #ccc; }

.settings {
  display: flex;
  flex-direction: column; }
  .settings .button {
    display: block;
    box-sizing: border-box;
    padding: 0.5em 1.2em;
    margin-bottom: 0.5rem;
    font-size: 1.4em;
    color: #fff;
    cursor: pointer;
    background: #1a1c2c;
    /* stylelint-disable-next-line declaration-property-value-disallowed-list */
    border: none; }

.help-container {
  padding: 0.6rem;
  overflow-y: scroll;
  background: #566c86; }

.group.right {
  display: flex;
  flex-direction: column;
  overflow-y: visible; }

.loading-full {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center; }
  .loading-full h1 {
    margin-bottom: 0.4em;
    font-size: 2em;
    color: #fff; }
  .loading-full p {
    margin-bottom: 1em;
    font-style: italic;
    color: #ccc; }

.ReactModalPortal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%; }

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.85); }

.modal {
  position: absolute;
  display: flex;
  padding: 2em;
  overflow: auto;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #333c57;
  outline: none; }
  @media only screen and (max-width: 799px) {
    .modal h2,
    .modal h3 {
      font-size: 2em; } }
  @media only screen and (min-width: 800px) {
    .modal h2 {
      font-size: 4em; }
    .modal h3 {
      font-size: 3em; } }
  .modal h2 {
    padding: 0 1.5em;
    margin-bottom: 0.5em;
    text-align: center; }
  .modal h3 {
    margin-bottom: 0.5em;
    text-align: center; }
  .modal .highlight {
    font-weight: 700;
    color: #ffcd75; }

.discord-link {
  margin-top: 1em;
  text-align: center; }
  .discord-link p {
    margin-bottom: 1em; }
  .discord-link img {
    width: 260px; }

.match-rewards-content .health {
  margin-bottom: 0.5em;
  font-size: 2em;
  text-align: center; }
  .match-rewards-content .health .highlight {
    color: #ff6464; }

.match-rewards-content .money ul {
  font-size: 1.4em; }

.match-rewards-content .money li {
  margin-bottom: 0.5em; }

.ready-overlay-content button {
  font-size: 1rem;
  background-color: #1a1c2c;
  border-style: none;
  color: white;
  padding: 1em;
  margin: auto; }

.ready-overlay-content .h2h-header {
  margin-bottom: 0.25em;
  font-size: 1.5em;
  text-align: center; }

.ready-overlay-content .inner-profile-box {
  display: flex;
  flex-direction: row; }

.ready-overlay-content .name-and-health {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  text-transform: capitalize; }
  .ready-overlay-content .name-and-health.right {
    justify-content: right;
    align-items: right;
    text-align: right; }
  .ready-overlay-content .name-and-health .healthbar-container {
    width: 12em; }

.ready-overlay-content .player-name {
  font-family: Arial, sans-serif;
  font-weight: 550;
  text-transform: uppercase; }
  .ready-overlay-content .player-name.right {
    text-align: right; }

.ready-overlay-content .spacer {
  width: 1em;
  height: 0.625em; }

.ready-overlay-content .emoji-spacer {
  width: 1em;
  height: 1em; }

.ready-overlay-content .quick-chat-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; }
  .ready-overlay-content .quick-chat-button-container .emoji-spacer {
    width: 1em;
    height: 1em; }

.head-to-head-stats .h2h-stat-div {
  margin-bottom: 0.5em;
  text-align: center; }

.head-to-head-stats .h2h-info-header {
  margin-bottom: 0.25em;
  font-size: 0.7em; }

.head-to-head-stats .h2h-info-text {
  font-size: 1.125em; }

.victory-overlay h2 {
  font-weight: 700;
  text-transform: uppercase; }

.victory-overlay .highlight {
  font-style: italic; }

.victory-overlay .winner {
  font-size: 2em;
  font-weight: 700;
  text-align: center; }

.victory-overlay .game-over {
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase; }

.victory-overlay .spectate {
  font-size: 1.2em; }

.reconnect-overlay {
  width: 100%;
  height: 100%;
  text-align: center; }
  .reconnect-overlay .text {
    margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff; }

.spectating-overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background-color: #566c86;
  color: white;
  padding-bottom: 1.25rem;
  font-family: Arial, Helvetica, sans-serif; }
  .spectating-overlay h1 {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
    padding-top: 0.125rem;
    text-transform: capitalize; }
  .spectating-overlay p {
    font-size: 1.75rem;
    font-weight: bold;
    padding-bottom: 0.25rem; }
  .spectating-overlay button {
    font-size: 1rem;
    background-color: #1a1c2c;
    border-style: none;
    color: white;
    padding: 1em;
    margin: auto; }
  @media screen and (max-width: 900px) {
    .spectating-overlay h1 {
      font-size: 0.75rem; }
    .spectating-overlay p {
      font-size: 1rem; }
    .spectating-overlay button {
      font-size: 0.75rem; } }
  @media screen and (max-width: 500px) {
    .spectating-overlay h1 {
      font-size: 0.5rem; }
    .spectating-overlay p {
      font-size: 0.75rem; }
    .spectating-overlay button {
      font-size: 0.5rem; } }

.segment {
  margin-bottom: 1rem;
  text-align: center; }
  .segment .header {
    display: inline-block;
    padding: 0.6em;
    margin-bottom: 0.5rem;
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
    color: #b13e53;
    cursor: pointer;
    user-select: none;
    border: 1px solid #b13e53; }
  .segment p {
    margin-bottom: 0.4em; }
  .segment.closed .header {
    margin-bottom: 0; }
  .segment.closed .content {
    height: 0;
    padding: 0;
    overflow-y: hidden; }

/* stylelint-disable */
body {
  /* stylelint-enable */
  background: #333c57; }

.approot {
  width: 100%;
  height: 100vh; }

* {
  user-select: none; }

html,
body {
  width: 100%;
  height: 100%; }

.game {
  display: flex;
  padding: 0.4em;
  overflow-y: hidden; }
  .game .game-id {
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center; }
  .game.landscape {
    flex-direction: row;
    height: 100%;
    box-sizing: border-box; }
    .game.landscape .group:not(:first-child) {
      margin-left: 1em; }
    .game.landscape .profile {
      margin-bottom: 0.5rem; }
  .game.portrait {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0; }
    .game.portrait .group {
      display: flex;
      justify-content: center;
      flex-direction: column; }
  .game .group {
    flex: 1;
    box-sizing: border-box; }
  .game .ready-up {
    box-sizing: border-box;
    padding: 2rem;
    font-size: 1.6rem;
    color: #000;
    cursor: pointer;
    background: #38b764;
    border: none; }
  .game .shop-container {
    display: flex; }
  .game .phase-info,
  .game .round-indicator {
    margin-bottom: 0.6em;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    .game .phase-info .highlight,
    .game .round-indicator .highlight {
      color: #ffcd75; }

.menu {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .menu .title {
    margin-bottom: 1rem;
    font-size: 2em;
    text-align: center;
    user-select: none; }
  .menu .name-input {
    margin-top: 1em;
    font-size: 1.4em; }
  .menu .navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em;
    background: #985763;
    justify-content: flex-end; }
    .menu .navbar .sign-out {
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      border: none;
      border-left: 1px solid #fff; }
  .menu .blurb {
    margin-bottom: 0.5rem; }
    .menu .blurb p {
      margin-bottom: 0.25rem; }
    .menu .blurb .highlight {
      font-size: 1.2em;
      font-style: italic;
      font-weight: 700;
      color: #bfbfbf; }
  .menu .discord-button {
    max-width: 12em;
    margin-bottom: 1rem;
    cursor: pointer; }
  .menu .join-game {
    padding: 1rem;
    margin-top: 3em;
    text-align: center;
    background: #566c86; }
    .menu .join-game .nickname-warning {
      font-size: 1.4em; }
    .menu .join-game input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0.2em 0.4em;
      color: #fff;
      background: none;
      border-style: solid;
      /* stylelint-disable */
      border-top: none;
      border-right: none;
      border-bottom: 2px solid #b13e53;
      border-left: none;
      /* stylelint-enable */
      /* stylelint-disable */ }
      .menu .join-game input::placeholder {
        /* stylelint-enable */
        font-style: italic;
        color: #aaa; }
    .menu .join-game .find-game {
      padding: 0.8em 2em;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      /* stylelint-disable */
      border: none;
      /* stylelint-enable */ }
  .menu .segment {
    margin-top: 1em;
    text-align: center;
    background: #566c86; }
    .menu .segment .header {
      width: 100%;
      padding: 0.6em 0;
      font-size: 1.4em;
      background: #b13e53; }
    .menu .segment .content {
      padding: 1em 2em; }
      .menu .segment .content p {
        margin-bottom: 0.4em; }
  .menu .leaderboard {
    width: 100%;
    margin-bottom: 1em; }
    .menu .leaderboard thead {
      text-transform: uppercase;
      border-bottom: 3px solid #b13e53; }
    .menu .leaderboard tbody tr:not(:last-child) {
      border-bottom: 2px solid #465567; }
    .menu .leaderboard tbody td:first-child {
      border-right: 2px solid #b13e53; }
    .menu .leaderboard td {
      padding: 0.3em 1em;
      font-size: 0.8em; }
  .menu .wipe-warning {
    padding: 1em 2em;
    background: #3b3d40; }
  .menu .error {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    color: #db2828;
    background-color: #ffe8e6;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent; }

.chessboard {
  position: relative;
  margin-bottom: 0.5rem; }

.board-tiles {
  position: relative; }

.board-pieces {
  position: absolute;
  top: 0;
  left: 0; }

.bench {
  position: relative; }
  .bench .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.tile {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  user-select: none; }
  .tile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .tile .overlay.not-allowed {
      background: #484848;
      opacity: 0.4; }

.positionable-piece {
  position: absolute;
  /* stylelint-disable-next-line */
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s; }

.opponent-board-placeholder {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
  font-size: 1rem;
  text-align: center;
  background: #717171;
  border: 3px solid #2d2d2d; }
  .opponent-board-placeholder .o-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .opponent-board-placeholder .o-group.stretch {
      flex: 1;
      margin-right: 0.4rem;
      justify-content: center; }

.piece-meta-container .piece-meta-top .piece-stage {
  height: 100%; }

.piece-meta-container .piece-meta-top img {
  height: 100%; }

.piece-meta-container .health-bar-container {
  position: relative;
  flex: 1; }

.piece-meta-container .piece-stage {
  position: absolute;
  top: 15%;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  justify-content: space-evenly; }

.piece-meta-container .healthbar {
  width: 100%;
  height: 100%; }

.board-container {
  position: relative; }
  .board-container .now-playing {
    position: absolute;
    top: 0;
    z-index: 19;
    width: 100%; }

.piece {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%; }
  .piece.selected {
    box-sizing: border-box;
    border: 2px solid #ff5200; }
  .piece .image {
    position: absolute;
    bottom: 0;
    left: 14%;
    width: 80%; }
  .piece.attack-basic {
    animation-name: attack-basic;
    animation-duration: 200ms; }

@keyframes attack-basic {
  0% {
    top: 0;
    left: 0; }
  50% {
    top: calc(calc(3px * var(--attackPower)) * var(--attackYDirection));
    left: calc(calc(3px * var(--attackPower)) * var(--attackXDirection)); }
  100% {
    top: 0;
    left: 0; } }
  .piece .projectile {
    display: none; }
  .piece.attack-shoot .projectile {
    position: absolute;
    display: block;
    animation-name: attack-shoot;
    animation-duration: 200ms; }

@keyframes attack-shoot {
  0% {
    top: calc(50% - (10px / 2));
    left: calc(50% - (10px / 2)); }
  100% {
    top: calc(((100% * var(--attackDistance) * var(--attackYDirection)) + 50%) - (10px / 2));
    left: calc( ((100% * var(--attackDistance) * var(--attackXDirection)) + 50%) - (10px / 2)); } }
  .piece.hit {
    animation-name: hit;
    animation-duration: 200ms; }

@keyframes hit {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(calc(calc(1deg * var(--hitPower)) * -1)); }
  75% {
    transform: rotate(calc(1deg * var(--hitPower))); }
  100% {
    transform: rotate(0deg); } }

@keyframes dying {
  100% {
    transform: scale(0); } }
  .piece.dying {
    animation-name: dying;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; }

.info {
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555; }

.player-list {
  margin-bottom: 1rem; }

.profile {
  padding: 0.25rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #566c86; }
  .profile .row {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .profile .row:not(:last-child) {
      margin-bottom: 0.4em; }
    .profile .row .item {
      flex: 1; }
  .profile .highlight {
    color: #ffcd75; }
  .profile .level {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    font-weight: 700; }
  .profile .pieces {
    font-size: 0.85em;
    font-style: italic;
    text-align: center; }
    .profile .pieces.warning {
      width: fit-content;
      padding: 0.2em 0.4em;
      font-weight: 700;
      color: #ff6464;
      background: #ffd2d2;
      border: 2px solid #ff6464; }
  .profile .xp-progress {
    width: 50%;
    height: 1.75em;
    background: #636363; }
  .profile .xp-progress-fill {
    padding-left: 1em;
    background: #ffcd75; }
  .profile .xp-progress-contents {
    color: #1a1c2c; }
  .profile .buy-xp {
    width: 50%;
    height: 2em;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    background: #1a1c2c;
    border: none; }

.footer {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  /* stylelint-disable-next-line */ }
  .footer a,
  .footer span {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    color: #fff; }

.player {
  padding: 0.4em 1em;
  margin-bottom: 0.4em;
  font-weight: 700;
  text-align: left;
  background: #59616b; }

.lobby {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }

.lobby-info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  background: #566c86;
  /* stylelint-disable-next-line */
  /* stylelint-disable-next-line */ }
  .lobby-info p {
    margin-bottom: 0.5rem; }
  .lobby-info strong {
    font-style: italic;
    font-weight: 700; }
  .lobby-info .players {
    flex: 1 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .lobby-info .player {
    display: flex;
    flex-direction: column;
    width: 38%; }
    .lobby-info .player .name {
      margin-bottom: 0.25rem; }
    .lobby-info .player.bot {
      font-style: italic;
      color: #d0d0d0; }

.hero {
  flex: 1 0 0; }

.lobby-id {
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 700; }

.timeRemaining {
  padding: 0.5em 0.6em;
  margin-bottom: 1em;
  text-transform: uppercase;
  background: #333; }
  .timeRemaining .time {
    font-weight: 700; }

.host {
  margin-left: 1em;
  font-size: 0.7em;
  font-weight: 700;
  color: #ffd700;
  text-transform: uppercase; }

.start-game {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #000;
  cursor: pointer;
  background: #ffd700;
  /* stylelint-disable-next-line */
  border: none; }

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .login .banner {
    max-width: 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none; }
    .login .banner img {
      width: 100%;
      user-select: none; }
  .login .subtext {
    margin-bottom: 0.5rem;
    font-size: 0.8em; }
  .login .groups {
    display: flex;
    width: 100%;
    max-width: 700px; }
    .login .groups .group {
      width: 50%; }
      .login .groups .group.main {
        text-align: center; }
  .login .login-button {
    padding: 0.6em 1.2em;
    margin-bottom: 1rem;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    background: #b13e53;
    border: none; }
  .login .discord-button {
    max-width: 12em;
    margin-bottom: 1rem;
    cursor: pointer; }
  @media only screen and (max-width: 391px) {
    .login .video-container {
      width: 100%;
      box-sizing: border-box;
      padding: 0 1em; }
    .login .groups {
      flex-direction: column; }
      .login .groups .group {
        width: 100%; } }
  @media only screen and (min-width: 392px) {
    .login .video-container {
      width: 392px; }
    .login .group.main {
      padding: 0.5rem;
      background: #566c86; } }
  .login .video-container {
    text-align: center; }
    .login .video-container .demo {
      margin-bottom: 0.2em;
      font-size: 1em;
      font-style: italic;
      font-weight: 700;
      color: #b13e53; }
    .login .video-container .video {
      width: 100%;
      border: 2px solid #9fa4bf; }

.register {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #566c86; }
  .register .register-heading {
    margin-bottom: 1rem;
    font-size: 2em; }
  .register .section-heading {
    margin-bottom: 0.5rem;
    font-size: 1.4em; }
  .register .name-input {
    padding: 0.5rem 1rem;
    margin-bottom: 1em; }
  .register .register-button {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    background: #b13e53;
    border: none; }
  .register .register-error {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid #a01515; }
  .register .nickname-info {
    margin-top: 0.6em; }
  .register .nickname-warning {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    font-style: italic; }
  .register .picture-selection {
    margin-bottom: 0.6em; }
  .register .picture-selection-heading {
    margin-bottom: 0.6em; }
  .register .available-pictures {
    display: inline-block; }

.now-playing {
  margin-bottom: 0.5em;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  .now-playing .label {
    box-sizing: border-box;
    padding: 0.3em 0.6em;
    background: #333; }

/* stylelint-disable */
.style-default .chessboard .tile.dark {
  background: #38b764; }

.style-default .chessboard .tile.light {
  background: #a7f070; }

.style-default .bench .tile {
  background: #9e9e9e;
  box-shadow: inset 0 0 2px #1f1f1f; }

/* stylelint-disable */
.creature-image,
.avatar {
  image-rendering: optimizeSpeed;
  /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;
  /* Firefox                        */
  image-rendering: -o-crisp-edges;
  /* Opera                          */
  image-rendering: -webkit-optimize-contrast;
  /* Chrome (and eventually Safari) */
  image-rendering: pixelated;
  /* Chrome */
  image-rendering: optimize-contrast;
  /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;
  /* IE8+                           */ }

/* stylelint-enable */

.board-items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.tile-row {
    width: 100%;
    box-sizing: border-box;
    line-height: 0;
    white-space: nowrap;
}


/*# sourceMappingURL=app-bd0bb10f6e1de5a91dc9.css.map*/