/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* stylelint-disable */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* stylelint-disable */
body {
  /* stylelint-enable */
  background: #333c57; }

.approot {
  width: 100%; }

.game {
  display: flex;
  padding: 0.4em;
  overflow-y: hidden; }
  .game .game-id {
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center; }
  .game.landscape {
    flex-direction: row; }
    .game.landscape .group:not(:first-child) {
      margin-left: 1em; }
  .game.portrait {
    flex-direction: column; }
    .game.portrait .group:not(:first-child) {
      margin-top: 1em; }
  .game .group {
    flex: 1;
    box-sizing: border-box; }
  .game .announcement {
    position: absolute;
    top: 2em;
    z-index: 4;
    width: 100%;
    padding: 2em 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8); }
    .game .announcement .sub {
      font-size: 1.2em;
      color: #eee; }
    .game .announcement .main {
      margin-top: 0.1em;
      font-size: 2em;
      font-weight: 700; }
  .game .ready-up {
    box-sizing: border-box;
    padding: 0.4em 1.2em;
    font-size: 1.1em;
    color: #000;
    cursor: pointer;
    background: #38b764;
    border: none; }
  .game .reconnect {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50%;
    text-align: center;
    background: #566c86;
    border: 2px solid #000; }
    .game .reconnect .text {
      margin-bottom: 1em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6em;
      color: #fff; }
    .game .reconnect .button {
      font-size: 1.2em; }
  .game .victory {
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: 4em 0;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8); }
    .game .victory .game-over {
      padding-bottom: 0.8em;
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase; }
    .game .victory .winner {
      font-style: italic;
      font-weight: 700;
      color: #ffcd75; }
  .game .shop-container {
    display: flex; }
  .game .phase-info,
  .game .round-indicator {
    margin-bottom: 0.6em;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .menu .title {
    margin-bottom: 0.5em;
    font-size: 2em;
    text-align: center;
    user-select: none; }
    .menu .title .debug-mode {
      font-size: 0.7em;
      font-style: italic;
      font-weight: 700;
      color: #b3b3b3; }
  .menu .name-input {
    margin-top: 1em;
    font-size: 1.4em; }
  .menu .player-info {
    padding: 1em 4em;
    margin-top: 3em;
    text-align: center;
    background: #566c86; }
    .menu .player-info .welcome {
      margin-right: 1em; }
    .menu .player-info .email {
      font-style: italic;
      font-weight: 700;
      color: #ffcd75; }
    .menu .player-info .sign-out {
      padding: 0.4em 1em;
      font-size: 1rem;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      /* stylelint-disable */
      border: none;
      /* stylelint-enable */ }
  .menu .join-game {
    padding: 2em 5em;
    margin-top: 1em;
    text-align: center;
    background: #566c86; }
    .menu .join-game input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0.2em 0.4em;
      color: #fff;
      background: none;
      border-style: solid;
      /* stylelint-disable */
      border-top: none;
      border-left: none;
      border-right: none;
      /* stylelint-enable */
      border-bottom: 2px solid #b13e53;
      /* stylelint-disable */ }
      .menu .join-game input::placeholder {
        /* stylelint-enable */
        font-style: italic;
        color: #aaa; }
  .menu .how-to-play {
    margin-top: 2em;
    text-align: center;
    background: #566c86; }
    .menu .how-to-play .header {
      width: 100%;
      padding: 0.6em 0;
      font-size: 1.4em;
      background: #b13e53; }
    .menu .how-to-play .content {
      padding: 1em 4em; }
      .menu .how-to-play .content p {
        margin-bottom: 0.4em; }
  .menu .join-options {
    display: flex; }
  .menu .option:not(:last-child) {
    padding-right: 1em;
    margin-right: 1em;
    border-right: 2px solid #626262; }
  .menu .option {
    flex: 1 1 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
    .menu .option .option-input {
      margin-bottom: 1rem;
      font-size: 1.4em;
      text-align: center; }
    .menu .option .option-button {
      padding: 0.8em 2em;
      margin-bottom: 0.5em;
      font-size: 1.4rem;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      /* stylelint-disable */
      border: none;
      /* stylelint-enable */ }
      .menu .option .option-button.primary {
        background: #b13e53; }
      .menu .option .option-button.secondary {
        background: #626262; }
    .menu .option .description {
      margin-bottom: 0.4em;
      font-size: 0.8rem;
      font-style: italic; }
  .menu .error {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    color: #db2828;
    background-color: #ffe8e6;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent; }

.card {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0.4em 0.4em;
  margin-bottom: 1rem;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-style: solid;
  border-width: 2px;
  border-right-width: 2.5em; }
  .card .image {
    width: 50px;
    height: 50px; }
  .card .header {
    display: flex; }
  .card .price {
    height: 50px;
    margin-right: 0.2em;
    font-size: 2em;
    line-height: 50px; }
  .card.reroll {
    background: #555;
    border-color: #555; }
  .card.fire {
    border-color: #ec8f8f; }
  .card.wood {
    border-color: #88f88e; }
  .card.earth {
    border-color: #a0522d; }
  .card.water {
    border-color: #479dff; }
  .card.metal {
    border-color: #5f5f5f; }

.card-selector .cards {
  display: flex;
  width: 100%; }
  .card-selector .cards .drop-to-sell {
    position: relative;
    min-height: 10rem;
    box-sizing: border-box;
    flex: 1;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    overflow: hidden;
    text-align: center;
    background: #fff;
    border: 2px solid #ccc;
    opacity: 0.6; }
  .card-selector .cards .drop-to-sell-text {
    position: absolute;
    top: 35%;
    left: 8%;
    display: block;
    width: 80%;
    font-family: Arial, sans-serif;
    font-size: 3em;
    color: #717171;
    transform: rotate(15deg);
    /* stylelint-disable */
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    /* stylelint-enable */ }

.card-selector .shop {
  display: flex;
  flex-direction: column; }

.card-selector .balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-align: center; }
  .card-selector .balance .item:not(:last-child) {
    margin-right: 1em; }

.card-selector .reroll {
  padding: 0.6em 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  color: #fff;
  cursor: pointer;
  background: #566c86;
  /* stylelint-disable-next-line */
  border: none; }
  .card-selector .reroll:disabled {
    color: #222;
    cursor: not-allowed;
    background: #666; }

.card-selector .lock-icon {
  cursor: pointer; }

.chessboard {
  position: relative;
  margin-bottom: 1em; }

.bench {
  position: relative; }

.tile-row {
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
  white-space: nowrap; }

.tile {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  user-select: none; }
  .tile.selected {
    box-sizing: border-box;
    border: 2px solid #ff5200; }
  .tile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .tile .overlay.not-allowed {
      background: #484848;
      opacity: 0.4; }
  .tile.bench .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.positionable-piece {
  position: absolute; }

.opponent-board-placeholder {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  background: #717171;
  border: 3px solid #2d2d2d; }
  .opponent-board-placeholder .label {
    display: block;
    padding-top: 2em;
    margin-bottom: 2em;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    color: #fff; }

.piece {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%; }
  .piece .image {
    position: absolute;
    bottom: 0;
    left: 9%;
    width: 82%;
    height: 82%; }
  .piece.move {
    animation-name: move;
    animation-duration: 300ms; }

@keyframes move {
  0% {
    top: calc(90px * var(--moveYDirection) * -1);
    left: calc(90px * var(--moveXDirection) * -1); }
  100% {
    top: 0;
    left: 0; } }
  .piece.attack-basic {
    animation-name: attack-basic;
    animation-duration: 200ms; }

@keyframes attack-basic {
  0% {
    top: 0;
    left: 0; }
  50% {
    top: calc(calc(3px * var(--attackPower)) * var(--attackYDirection));
    left: calc(calc(3px * var(--attackPower)) * var(--attackXDirection)); }
  100% {
    top: 0;
    left: 0; } }
  .piece .projectile {
    display: none; }
  .piece.attack-shoot .projectile {
    position: absolute;
    display: block;
    animation-name: attack-shoot;
    animation-duration: 200ms; }

@keyframes attack-shoot {
  0% {
    top: calc(90px / 2);
    left: calc(90px / 2); }
  100% {
    top: calc(90px * var(--attackYDirection) * -1 + calc(90px / 2));
    left: calc(90px * var(--attackXDirection) * -1 + calc(90px / 2)); } }
  .piece.hit {
    animation-name: hit;
    animation-duration: 200ms; }

@keyframes hit {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(calc(calc(1deg * var(--hitPower)) * -1)); }
  75% {
    transform: rotate(calc(1deg * var(--hitPower))); }
  100% {
    transform: rotate(0deg); } }
  .piece.celebrate {
    animation-name: celebrate;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

@keyframes celebrate {
  25% {
    transform: translate(20px, -20px) skewX(-20deg); }
  50% {
    transform: translate(0, 0) skewX(0); }
  75% {
    transform: translate(-20px, -20px) skewX(20deg); } }
  .piece.dying {
    animation-name: dying;
    animation-duration: 1000ms;
    animation-iteration-count: 1; }

@keyframes dying {
  100% {
    transform: scale(0); } }

.healthbar {
  width: 101%;
  height: 70%;
  box-sizing: border-box;
  margin: 0 auto;
  background: #636363; }
  .healthbar .fill {
    height: 100%; }
  .healthbar.friendly .fill {
    background: #20b720; }
  .healthbar.enemy .fill {
    background: #e60d0d; }

.cooldownbar {
  width: 101%;
  height: 30%;
  box-sizing: border-box;
  margin: 0 auto;
  background: #636363; }
  .cooldownbar .fill {
    height: 100%;
    background: #73eff7; }

.info {
  position: absolute;
  top: 3%;
  right: 4%;
  width: 72%;
  height: 20%;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border-top: 2px solid #555;
  border-right: 3px solid #555;
  border-bottom: 2px solid #555; }

.player-list {
  margin-bottom: 1rem; }

.player-list-item {
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  background: #566c86; }
  .player-list-item.opponent {
    border: 5px solid #b13e53; }
  .player-list-item:not(:last-child) {
    margin-bottom: 0.8rem; }
  .player-list-item .name {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }
  .player-list-item.local .name {
    font-style: italic;
    color: #ffcd75; }
  .player-list-item .healthbar {
    display: block;
    width: 100%;
    height: 12px; }
  .player-list-item .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em; }
  .player-list-item .battle-info {
    width: fit-content;
    padding: 0.4em 1.2em;
    margin: 0 auto 0.4em;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #c3c3c3;
    text-align: center;
    background: #333; }
    .player-list-item .battle-info .highlight {
      font-weight: 700;
      color: #ffcd74;
      text-transform: uppercase; }
      .player-list-item .battle-info .highlight.win {
        color: #38b764; }
      .player-list-item .battle-info .highlight.loss {
        color: #b13e53; }
      .player-list-item .battle-info .highlight.opponent-name {
        color: #fff; }
  .player-list-item .ready-indicator {
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.5em; }
    .player-list-item .ready-indicator.ready {
      background: #20b720; }
    .player-list-item .ready-indicator.not-ready {
      background: #ccc; }
  .player-list-item .badges {
    display: flex; }
  .player-list-item .streak-indicator {
    box-sizing: border-box;
    padding: 0 0.4em;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #fff;
    border-radius: 50%; }
    .player-list-item .streak-indicator.win {
      background: #38b764; }
    .player-list-item .streak-indicator.lose {
      background: #b13e53; }

.profile {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #566c86; }
  .profile .name {
    font-weight: 700;
    color: #ffcd75;
    text-transform: uppercase; }
  .profile .item {
    margin-bottom: 0.4em; }
  .profile .level {
    font-weight: 700; }
  .profile .pieces {
    font-style: italic; }
    .profile .pieces.warning {
      width: fit-content;
      padding: 0.6em 1em;
      font-weight: 700;
      color: #ff6464;
      background: #ffd2d2;
      border: 2px solid #ff6464; }
  .profile .xp-progress {
    position: relative;
    width: 70%;
    height: 2em;
    box-sizing: border-box;
    margin: 0 auto;
    background: #636363; }
    .profile .xp-progress .fill {
      height: 100%;
      box-sizing: border-box;
      padding-left: 1em;
      background: #ffcd75; }
    .profile .xp-progress .contents {
      position: absolute;
      top: 0;
      right: 0.5em;
      font-weight: 700;
      line-height: 2em;
      color: #1a1c2c; }
  .profile .level-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.8em 0; }
  .profile .buy-xp {
    width: 30%;
    box-sizing: border-box;
    padding: 0.4em 1.2em;
    margin-left: 1em;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
    background: #1a1c2c;
    border: none; }

.feed {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #566c86; }
  .feed .chat-input {
    display: flex;
    margin-bottom: 0.6rem; }
    .feed .chat-input .text-input {
      flex-grow: 1;
      padding: 0.4em;
      color: #fff;
      background: #333c57;
      border: 0; }
    .feed .chat-input .send-button {
      padding: 0.4em;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      border: 0; }
  .feed .chat-feed-message .sender {
    font-weight: 700; }
  .feed .chat-feed-message .message {
    color: #bebebe; }

.github-link {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  /* stylelint-disable-next-line */ }
  .github-link a {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    color: #fff; }

.player {
  padding: 0.4em 1em;
  margin-bottom: 0.4em;
  font-weight: 700;
  text-align: left;
  background: #59616b; }

.lobby {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }

.lobby-info {
  display: flex;
  padding: 2em 5em;
  margin-top: 3em;
  text-align: center;
  background: #566c86; }

.players {
  flex: 1 0 0; }

.text {
  flex: 1 0 0;
  margin-left: 1em; }

.player.bot {
  font-style: italic;
  color: #d0d0d0; }

.lobby-id {
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 700; }

.timeRemaining {
  padding: 0.5em 0.6em;
  margin-bottom: 1em;
  text-transform: uppercase;
  background: #333; }
  .timeRemaining .time {
    font-weight: 700; }

.host {
  margin-left: 1em;
  font-size: 0.7em;
  font-weight: 700;
  color: #ffd700;
  text-transform: uppercase; }

.start-game {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #000;
  cursor: pointer;
  background: #ffd700;
  /* stylelint-disable-next-line */
  border: none; }

.piece-stage {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 22%;
  height: 20%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  background: #555; }

/* stylelint-disable */
.style-default.tile.dark {
  background: #38b764; }

.style-default.tile.light {
  background: #a7f070; }

.style-default.tile.bench {
  background: #ffcd75;
  box-shadow: inset 0 0 2px #754b00; }

.style-default.tile-row {
  border-right: 3px solid #2d2d2d;
  border-left: 3px solid #2d2d2d; }
  .style-default.tile-row.first {
    border-top: 3px solid #2d2d2d; }
  .style-default.tile-row.last {
    border-bottom: 3px solid #2d2d2d; }
  .style-default.tile-row .tile:not(:last-of-type).dark {
    border-right: #38b764 solid #404040; }
  .style-default.tile-row .tile:not(:last-of-type).light {
    border-right: #a7f070 solid #404040; }
  .style-default.tile-row:not(.last) .tile.dark {
    border-bottom: #38b764 solid #404040; }
  .style-default.tile-row:not(.last) .tile.light {
    border-bottom: #a7f070 solid #404040; }

.style-james.tile.dark {
  background: #828282; }

.style-james.tile.light {
  background: #828282; }

.style-james.tile-row {
  border-right: 3px solid #3cea92;
  border-left: 3px solid #3cea92; }
  .style-james.tile-row.first {
    border-top: 3px solid #3cea92; }
  .style-james.tile-row.last {
    border-bottom: 3px solid #3cea92; }
  .style-james.tile-row .tile:not(:last-of-type) {
    border-right: 2px solid #404040; }
  .style-james.tile-row:not(.last) .tile {
    border-bottom: 2px solid #404040; }

