/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* stylelint-disable */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.navbar {
  display: flex;
  flex-direction: row; }
  .navbar .navitem {
    padding: 0.7rem 0;
    font-size: 1.6rem;
    color: #fff;
    background: #171717;
    flex: 1;
    /* stylelint-disable-next-line */
    border: none;
    outline: none; }
    .navbar .navitem.active {
      text-decoration: underline;
      background: #3c3c3c; }
    .navbar .navitem:not(:last-child) {
      border-right: 3px solid #3c3c3c; }

.mobile .top-bar {
  display: flex;
  flex-direction: row; }
  .mobile .top-bar .round-indicator,
  .mobile .top-bar .phase-info {
    margin: 0.2rem 0;
    font-size: 1.5rem;
    flex: 1;
    white-space: nowrap; }

.content-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden; }

.game-overlay {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
  background: #9da5bd; }

.overlay-header {
  display: flex;
  flex-direction: row; }

.overlay-title {
  flex: 1;
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: underline; }

.close {
  padding: 0;
  font-size: 1.8rem;
  font-weight: 700;
  background: none;
  /* stylelint-disable-next-line */
  border: none; }

.overlay-content {
  overflow: scroll; }

.now-playing {
  margin-top: 0.6em; }

.help {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #fff;
  /* stylelint-disable-next-line selector-max-type */
  /* stylelint-disable-next-line selector-max-type,selector-list-comma-newline-after */ }
  .help .section {
    margin-bottom: 0.4rem; }
    .help .section .header {
      margin-bottom: 0.4rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #b13e53; }
    .help .section .subheader {
      margin-bottom: 0.4rem;
      font-size: 1.2rem;
      font-weight: 700;
      color: #b13e53; }
  .help ul {
    margin-left: 1.4rem;
    list-style-type: disc; }
  .help p, .help ul {
    margin-bottom: 1rem; }
  .help .list-header {
    font-weight: 700;
    color: #b13e53; }

.settings {
  display: flex;
  flex-direction: column; }
  .settings .button {
    display: block;
    box-sizing: border-box;
    padding: 0.5em 1.2em;
    margin-bottom: 0.5rem;
    font-size: 1.4em;
    color: #fff;
    cursor: pointer;
    background: #1a1c2c;
    /* stylelint-disable-next-line declaration-property-value-blacklist */
    border: none; }

.help-container {
  padding: 0.6rem;
  overflow-y: scroll;
  background: #566c86; }

.group.right {
  display: flex;
  flex-direction: column;
  overflow-y: visible; }

.segment {
  margin-bottom: 1rem;
  text-align: center; }
  .segment .header {
    display: inline-block;
    padding: 0.6em;
    margin-bottom: 0.5rem;
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
    color: #b13e53;
    cursor: pointer;
    user-select: none;
    border: 1px solid #b13e53; }
  .segment p {
    margin-bottom: 0.4em; }
  .segment.closed .header {
    margin-bottom: 0; }
  .segment.closed .content {
    height: 0;
    padding: 0;
    overflow-y: hidden; }

.loading-full {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center; }
  .loading-full h1 {
    margin-bottom: 0.4em;
    font-size: 2em;
    color: #fff; }
  .loading-full p {
    margin-bottom: 1em;
    font-style: italic;
    color: #ccc; }

/* stylelint-disable */
body {
  /* stylelint-enable */
  background: #333c57; }

.approot {
  width: 100%;
  height: 100vh; }

html,
body {
  width: 100%;
  height: 100%; }

.game {
  display: flex;
  padding: 0.4em;
  overflow-y: hidden; }
  .game .game-id {
    margin-bottom: 1em;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center; }
  .game .connection-warning {
    padding: 0 1em;
    font-family: Arial, sans-serif;
    font-style: italic;
    color: #ccc;
    text-align: center; }
  .game.landscape {
    flex-direction: row;
    height: 100%;
    box-sizing: border-box; }
    .game.landscape .group:not(:first-child) {
      margin-left: 1em; }
    .game.landscape .connection-warning {
      font-size: 1em; }
  .game.portrait {
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0; }
    .game.portrait .group {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .game.portrait .group:not(:first-child) {
        margin-top: 1em; }
    .game.portrait .connection-warning {
      font-size: 0.7em; }
  .game .group {
    flex: 1;
    box-sizing: border-box; }
  .game .announcement {
    position: absolute;
    top: 0.5rem;
    z-index: 50;
    width: 100%;
    padding: 1em 0;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); }
    .game .announcement .sub {
      font-size: 1.1em;
      color: #eee; }
    .game .announcement .main {
      margin-top: 0.1em;
      font-size: 1.5em;
      font-weight: 700; }
  .game .ready-up {
    box-sizing: border-box;
    padding: 2rem;
    font-size: 1.6rem;
    color: #000;
    cursor: pointer;
    background: #38b764;
    border: none; }
  .game .reconnect {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50%;
    text-align: center;
    background: #566c86;
    border: 2px solid #000; }
    .game .reconnect .text {
      margin-bottom: 1em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.6em;
      color: #fff; }
    .game .reconnect .button {
      font-size: 1.2em; }
  @media only screen and (max-width: 599px) {
    .game .victory {
      top: 0; } }
  @media only screen and (min-width: 600px) {
    .game .victory {
      top: 20%; } }
  .game .victory {
    position: absolute;
    left: 0;
    z-index: 20;
    width: 100%;
    padding: 4em 0;
    font-family: Arial, sans-serif;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.8); }
    .game .victory .game-over {
      padding-bottom: 0.8em;
      font-size: 1.8em;
      font-weight: 700;
      text-transform: uppercase; }
    .game .victory .winner {
      font-style: italic;
      font-weight: 700;
      color: #ffcd75; }
    .game .victory .discord-link {
      margin-top: 1em;
      font-size: 0.6em; }
      .game .victory .discord-link p {
        margin-bottom: 1em; }
      .game .victory .discord-link img {
        width: 260px; }
  .game .shop-container {
    display: flex; }
  .game .phase-info,
  .game .round-indicator {
    margin-bottom: 0.6em;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
    .game .phase-info .highlight,
    .game .round-indicator .highlight {
      color: #ffcd75; }

.menu {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .menu .title {
    margin-bottom: 1rem;
    font-size: 2em;
    text-align: center;
    user-select: none; }
  .menu .name-input {
    margin-top: 1em;
    font-size: 1.4em; }
  .menu .navbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em;
    background: #985763;
    justify-content: flex-end; }
    .menu .navbar .sign-out {
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      border: none;
      border-left: 1px solid #fff; }
  .menu .blurb {
    margin-bottom: 0.5rem; }
    .menu .blurb p {
      margin-bottom: 0.25rem; }
    .menu .blurb .highlight {
      font-size: 1.2em;
      font-style: italic;
      font-weight: 700;
      color: #bfbfbf; }
  .menu .discord-button {
    max-width: 12em;
    margin-bottom: 1rem;
    cursor: pointer; }
  .menu .join-game {
    padding: 1rem;
    margin-top: 3em;
    text-align: center;
    background: #566c86; }
    .menu .join-game .nickname-warning {
      font-size: 1.4em; }
    .menu .join-game input {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0.2em 0.4em;
      color: #fff;
      background: none;
      border-style: solid;
      /* stylelint-disable */
      border-top: none;
      border-left: none;
      border-right: none;
      /* stylelint-enable */
      border-bottom: 2px solid #b13e53;
      /* stylelint-disable */ }
      .menu .join-game input::placeholder {
        /* stylelint-enable */
        font-style: italic;
        color: #aaa; }
    .menu .join-game .find-game {
      padding: 0.8em 2em;
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      background: #b13e53;
      /* stylelint-disable */
      border: none;
      /* stylelint-enable */ }
  .menu .segment {
    margin-top: 1em;
    text-align: center;
    background: #566c86; }
    .menu .segment .header {
      width: 100%;
      padding: 0.6em 0;
      font-size: 1.4em;
      background: #b13e53; }
    .menu .segment .content {
      padding: 1em 2em; }
      .menu .segment .content p {
        margin-bottom: 0.4em; }
  .menu .leaderboard {
    width: 100%;
    margin-bottom: 1em; }
    .menu .leaderboard thead {
      text-transform: uppercase;
      border-bottom: 3px solid #b13e53; }
    .menu .leaderboard tbody tr:not(:last-child) {
      border-bottom: 2px solid #465567; }
    .menu .leaderboard tbody td:first-child {
      border-right: 2px solid #b13e53; }
    .menu .leaderboard td {
      padding: 0.3em 1em;
      font-size: 0.8em; }
  .menu .wipe-warning {
    padding: 1em 2em;
    background: #3b3d40; }
  .menu .error {
    padding: 1em 0.5em;
    margin-bottom: 1em;
    color: #db2828;
    background-color: #ffe8e6;
    box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent; }

.card {
  display: flex;
  width: 49%;
  box-sizing: border-box;
  margin-bottom: 2%;
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  background: #4e4e4e; }
  .card.full-width {
    width: 100%; }
    .card.full-width .card-content {
      flex-direction: row;
      justify-content: center; }
    .card.full-width .card-content-group {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .card.full-width .card-name {
      font-size: 1.2rem; }
    .card.full-width .card-name,
    .card.full-width .card-class,
    .card.full-width .card-type {
      display: block;
      margin-bottom: 0.2rem; }
  .card .card-content {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .card .card-name {
    font-size: 1rem;
    font-weight: 700; }
  .card .card-meta {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0; }
    .card .card-meta .divider {
      border-right: 2px solid #8e8e8e; }
  .card .card-class,
  .card .card-type {
    font-size: 0.6rem;
    font-weight: 700;
    text-transform: uppercase; }
  .card .price {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0.3rem;
    font-size: 1.5rem;
    line-height: 50px;
    background: #353535; }

.drop-to-sell {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border: 2px solid #ccc;
  opacity: 0.6; }

.drop-to-sell-text {
  position: absolute;
  top: 35%;
  left: 8%;
  display: block;
  width: 80%;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #717171;
  /* stylelint-disable */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  /* stylelint-enable */ }

.card-selector .cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between; }

.card-selector .balance {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-align: center; }
  .card-selector .balance .item:not(:last-child) {
    margin-right: 1em; }

.card-selector .shop-actions {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: center;
  margin-bottom: 2%; }
  .card-selector .shop-actions .shop-action {
    flex: 1;
    padding: 0.7em 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    background: #566c86;
    /* stylelint-disable-next-line */
    border: none; }
    .card-selector .shop-actions .shop-action:disabled {
      color: #222;
      cursor: not-allowed;
      background: #666; }
    .card-selector .shop-actions .shop-action.reroll {
      margin-bottom: 0.5rem; }

.chessboard {
  position: relative;
  margin-bottom: 0.5rem; }

.bench {
  position: relative; }

.tile-row {
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
  white-space: nowrap; }

.tile {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  user-select: none; }
  .tile.selected {
    box-sizing: border-box;
    border: 2px solid #ff5200; }
  .tile .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .tile .overlay.not-allowed {
      background: #484848;
      opacity: 0.4; }
  .tile.bench .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.positionable-piece {
  position: absolute;
  /* stylelint-disable-next-line */
  transition: all 0.2s cubic-bezier(0.65, 0.05, 0.36, 1) 0s; }

.opponent-board-placeholder {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.4rem;
  font-size: 1rem;
  text-align: center;
  background: #717171;
  border: 3px solid #2d2d2d; }
  .opponent-board-placeholder .o-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .opponent-board-placeholder .o-group.stretch {
      flex: 1;
      margin-right: 0.4rem;
      justify-content: center; }

.piece {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%; }
  .piece .image {
    position: absolute;
    bottom: 0;
    left: 14%;
    width: 80%; }
  .piece .piece-meta {
    position: absolute;
    top: 4%;
    left: 4%;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 92%; }
  .piece.attack-basic {
    animation-name: attack-basic;
    animation-duration: 200ms; }

@keyframes attack-basic {
  0% {
    top: 0;
    left: 0; }
  50% {
    top: calc(calc(3px * var(--attackPower)) * var(--attackYDirection));
    left: calc(calc(3px * var(--attackPower)) * var(--attackXDirection)); }
  100% {
    top: 0;
    left: 0; } }
  .piece .projectile {
    display: none; }
  .piece.attack-shoot .projectile {
    position: absolute;
    display: block;
    animation-name: attack-shoot;
    animation-duration: 200ms; }

@keyframes attack-shoot {
  0% {
    top: calc(50% - (10px / 2));
    left: calc(50% - (10px / 2)); }
  100% {
    top: calc(((100% * var(--attackDistance) * var(--attackYDirection)) + 50%) - (10px / 2));
    left: calc(((100% * var(--attackDistance) * var(--attackXDirection)) + 50%) - (10px / 2)); } }
  .piece.hit {
    animation-name: hit;
    animation-duration: 200ms; }

@keyframes hit {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(calc(calc(1deg * var(--hitPower)) * -1)); }
  75% {
    transform: rotate(calc(1deg * var(--hitPower))); }
  100% {
    transform: rotate(0deg); } }

@keyframes dying {
  100% {
    transform: scale(0); } }
  .piece.dying {
    animation-name: dying;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1; }

.healthbar {
  width: 101%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background: #636363; }
  .healthbar.vertical {
    position: relative;
    border-right: 1px solid #636363;
    border-bottom: 1px solid #555;
    border-left: 1px solid #636363; }
    .healthbar.vertical .fill {
      position: absolute;
      bottom: 0; }
  .healthbar .fill {
    width: 100%;
    height: 100%; }
  .healthbar.friendly .fill {
    background: #56b4e9; }
  .healthbar.enemy .fill {
    background: #e69f00; }

.info {
  height: 100%;
  flex: 1;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555; }

.player-list {
  margin-bottom: 1rem; }

.player-list-item {
  width: 100%;
  box-sizing: border-box;
  padding: 0.6rem;
  background: #566c86; }
  .player-list-item.quit {
    background: #3b3d40; }
    .player-list-item.quit .status {
      width: 100%;
      font-family: Arial, sans-serif;
      font-size: 1.2em;
      font-weight: 700;
      color: #fff;
      text-align: center;
      text-transform: uppercase; }
    .player-list-item.quit .name {
      font-style: italic;
      color: #cecece; }
  .player-list-item.opponent {
    border: 5px solid #b13e53; }
  .player-list-item:not(:last-child) {
    margin-bottom: 0.8rem; }
  .player-list-item .name {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }
  .player-list-item.local .name {
    font-style: italic;
    color: #ffcd75; }
  .player-list-item .player-health {
    display: block;
    width: 100%;
    height: 12px; }
    .player-list-item .player-health .fill {
      background: #20b720; }
  .player-list-item .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em; }
    .player-list-item .row .row-half {
      display: flex;
      width: 50%; }
  .player-list-item .battle-info {
    width: fit-content;
    padding: 0.4em 1.2em;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #c3c3c3;
    text-align: center;
    background: #333; }
    .player-list-item .battle-info .highlight {
      font-weight: 700;
      color: #ffcd74;
      text-transform: uppercase; }
      .player-list-item .battle-info .highlight.win {
        color: #38b764; }
      .player-list-item .battle-info .highlight.loss {
        color: #b13e53; }
      .player-list-item .battle-info .highlight.opponent-name {
        color: #fff; }
  .player-list-item .ready-indicator {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.5em; }
    .player-list-item .ready-indicator.ready {
      background: #20b720; }
    .player-list-item .ready-indicator.not-ready {
      background: #ccc; }
  .player-list-item .badges {
    display: flex; }
    .player-list-item .badges .badge {
      font-family: Arial, sans-serif;
      font-size: 0.8rem;
      font-weight: 700;
      color: #fff; }
      .player-list-item .badges .badge.money {
        margin-right: 0.4rem;
        color: #ffcd75; }
  .player-list-item .streak-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0.4em;
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    color: #fff;
    border-radius: 50%; }
    .player-list-item .streak-indicator.win {
      background: #38b764; }
    .player-list-item .streak-indicator.lose {
      background: #b13e53; }

.profile {
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  font-family: Arial, sans-serif;
  color: #fff;
  background: #566c86; }
  .profile .item {
    margin-bottom: 0.4em; }
  .profile .level {
    font-weight: 700; }
  .profile .pieces {
    font-style: italic; }
    .profile .pieces.warning {
      width: fit-content;
      padding: 0.2em 0.4em;
      font-weight: 700;
      color: #ff6464;
      background: #ffd2d2;
      border: 2px solid #ff6464; }
  .profile .xp-progress {
    position: relative;
    width: 50%;
    height: 2em;
    box-sizing: border-box;
    margin-right: 0.5em;
    background: #636363; }
    .profile .xp-progress .fill {
      height: 100%;
      box-sizing: border-box;
      padding-left: 1em;
      background: #ffcd75; }
    .profile .xp-progress .contents {
      position: absolute;
      top: 0;
      right: 0.5em;
      font-weight: 700;
      line-height: 2em;
      color: #1a1c2c; }
  .profile .level-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .profile .buy-xp {
    width: 50%;
    box-sizing: border-box;
    padding: 0.5em 1.2em;
    margin-left: 0.5em;
    font-size: 1.1em;
    color: #fff;
    cursor: pointer;
    background: #1a1c2c;
    border: none; }

.footer {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  /* stylelint-disable-next-line */ }
  .footer a, .footer span {
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    color: #fff; }

.player {
  padding: 0.4em 1em;
  margin-bottom: 0.4em;
  font-weight: 700;
  text-align: left;
  background: #59616b; }

.lobby {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }

.lobby-info {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  background: #566c86; }

.players {
  flex: 1 0 0; }

.text {
  flex: 1 0 0;
  margin-left: 1em; }

.player.bot {
  font-style: italic;
  color: #d0d0d0; }

.lobby-id {
  margin-bottom: 1em;
  font-size: 1.6em;
  font-weight: 700; }

.timeRemaining {
  padding: 0.5em 0.6em;
  margin-bottom: 1em;
  text-transform: uppercase;
  background: #333; }
  .timeRemaining .time {
    font-weight: 700; }

.host {
  margin-left: 1em;
  font-size: 0.7em;
  font-weight: 700;
  color: #ffd700;
  text-transform: uppercase; }

.start-game {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  color: #000;
  cursor: pointer;
  background: #ffd700;
  /* stylelint-disable-next-line */
  border: none; }

.piece-stage {
  padding: 0 0.4rem;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 2;
  color: #fff;
  text-align: center;
  background: #555; }

.mobile .piece-stage {
  padding: 0;
  font-size: 8px;
  font-weight: 700;
  line-height: 1.4; }

.login {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center; }
  .login .banner {
    max-width: 700px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    user-select: none; }
    .login .banner img {
      width: 100%;
      user-select: none; }
  .login .subtext {
    margin-bottom: 0.5rem;
    font-size: 0.8em; }
  .login .groups {
    display: flex;
    width: 100%;
    max-width: 700px; }
    .login .groups .group {
      width: 50%; }
      .login .groups .group.main {
        text-align: center; }
  .login .login-button {
    padding: 0.6em 1.2em;
    margin-bottom: 1rem;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
    background: #b13e53;
    border: none; }
  .login .discord-button {
    max-width: 12em;
    margin-bottom: 1rem;
    cursor: pointer; }
  @media only screen and (max-width: 391px) {
    .login .video-container {
      width: 100%;
      box-sizing: border-box;
      padding: 0 1em; }
    .login .groups {
      flex-direction: column; }
      .login .groups .group {
        width: 100%; } }
  @media only screen and (min-width: 392px) {
    .login .video-container {
      width: 392px; }
    .login .group.main {
      padding: 0.5rem;
      background: #566c86; } }
  .login .video-container {
    text-align: center; }
    .login .video-container .demo {
      margin-bottom: 0.2em;
      font-size: 1em;
      font-style: italic;
      font-weight: 700;
      color: #b13e53; }
    .login .video-container .video {
      width: 100%;
      border: 2px solid #9fa4bf; }

.register {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  margin-top: 1em;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #566c86; }
  .register .register-heading {
    margin-bottom: 1rem;
    font-size: 2em; }
  .register .name-input {
    padding: 0.5rem 1rem;
    margin-bottom: 1em; }
  .register .register-button {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    background: #b13e53;
    border: none; }
  .register .register-error {
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: 2px solid #a01515; }
  .register .nickname-warning {
    margin-bottom: 0.6em;
    font-style: italic; }

.now-playing {
  margin-bottom: 0.6em;
  font-family: Arial, sans-serif;
  font-size: 1.4em;
  color: #fff;
  text-align: center;
  text-transform: uppercase; }
  .now-playing .label {
    box-sizing: border-box;
    padding: 0.3em 0.6em;
    background: #333; }

/* stylelint-disable */
.style-default.tile.dark {
  background: #38b764; }

.style-default.tile.light {
  background: #a7f070; }

.style-default.tile.bench {
  background: #ffcd75;
  box-shadow: inset 0 0 2px #754b00; }

