$tile-size: 90px;
$sprite-size: 60px;
$healthbar-height: 12px;
$cooldownbar-height: 6px;
$spacer: 1em;

$piece-z-index: 3;
$card-image-size: 50px;

$outer-border-width: 3px;
$inner-border-width: 2px;
