.card {
    z-index: 10;
    display: flex;
    width: 19%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
    background: #4e4e4e;

    &.selected {
        margin-top: -2em;
    }

    .image {
        width: 100%;
    }

    .card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card-content-group {
        .half:first-child {
            z-index: 20;
            margin-top: -0.5em;
            margin-left: -0.125em;
        }

        .half:last-child {
            padding: 0.125em;
            margin-top: -0.5em;
            margin-right: -0.1em;
            background: rgb(128, 128, 128);
        }
    }

    .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;

        .piece-type {
            width: 24px;
            height: 24px;
        }

        .card-content-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }

    .card-name {
        font-size: 0.8em;
        font-weight: 700;
    }

    .card-meta {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0.5rem 0;

        .divider {
            border-right: 2px solid #8e8e8e;
        }
    }

    @media only screen and (max-width: 539px) {
        .card-meta {
            flex-direction: column;
        }
    }

    @media only screen and (min-width: 540px) {
        .card-meta {
            flex-direction: row;
        }
    }

    .card-class,
    .card-type {
        font-size: 0.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }
}
