.healthbar-fill-vertical {
	position: absolute;
	bottom: 0;
}

.healthbar-fill-friendly {
	background: $friendly-healthbar-color;
}

.healthbar-fill-enemy {
	background: $enemy-healthbar-color;
}

.healthbar-fill-spectating {
	background: $spectating-healthbar-color;
}

.healthbar {
	margin: 0 auto;
	background: $healthbar-background;
}

.healthbar-vertical {
	position: relative;
	border-top: 1px solid #555;
	border-right: 1px solid $healthbar-background;
	border-bottom: 1px solid #555;
	border-left: 1px solid $healthbar-background;
}
