.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;

    .banner {
        // stylelint-disable-next-line unit-disallowed-list
        max-width: 700px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        user-select: none;

        // stylelint-disable-next-line
        img {
            width: 100%;
            user-select: none;
        }
    }

    .subtext {
        margin-bottom: 0.5rem;
        font-size: 0.8em;
    }

    .groups {
        display: flex;
        width: 100%;
        // stylelint-disable-next-line unit-disallowed-list
        max-width: 700px;

        .group {
            width: 50%;

            &.main {
                text-align: center;
            }
        }
    }

    .login-button {
        padding: 0.6em 1.2em;
        margin-bottom: 1rem;
        font-size: 1.2em;
        color: #fff;
        cursor: pointer;
        background: #b13e53;
        // stylelint-disable-next-line
        border: none;
    }

    .discord-button {
        max-width: 12em;
        margin-bottom: 1rem;
        cursor: pointer;
    }

    @media only screen and (max-width: 391px) {
        .video-container {
            width: 100%;
            box-sizing: border-box;
            padding: 0 1em;
        }

        .groups {
            flex-direction: column;

            .group {
                width: 100%;
            }
        }
    }

    @media only screen and (min-width: 392px) {
        .video-container {
            // stylelint-disable-next-line unit-disallowed-list
            width: 392px;
        }

        .group.main {
            padding: 0.5rem;
            background: #566c86;
        }
    }

    .video-container {
        text-align: center;

        .demo {
            margin-bottom: 0.2em;
            font-size: 1em;
            font-style: italic;
            font-weight: 700;
            color: #b13e53;
        }

        .video {
            width: 100%;
            border: 2px solid #9fa4bf;
        }
    }
}
