.bench {
  position: relative;

  .image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.board-container {
  position: relative;
  flex: 2;

  .now-playing {
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100%;
  }
}

.piece {
  $attack-duration: 200ms;

  .projectile {
    display: none;
  }

  // stylelint-disable-next-line unit-disallowed-list
  $projectile-size: 10px;

  &.attack-shoot .projectile {
    @keyframes attack-shoot {
      0% {
        top: calc(50% - (#{$projectile-size} / 2));
        left: calc(50% - (#{$projectile-size} / 2));
      }

      100% {
        top: calc(
          ((100% * var(--attackDistance) * var(--attackYDirection)) + 50%) -
            (#{$projectile-size} / 2)
        );
        // stylelint-disable-next-line
        left: calc(
          ((100% * var(--attackDistance) * var(--attackXDirection)) + 50%) -
            (#{$projectile-size} / 2)
        );
      }
    }
    position: absolute;
    display: block;
    animation-name: attack-shoot;
    animation-duration: $attack-duration;
  }
}
