// stylelint-disable-next-line
html,
body {
	width: 100%;
	height: 100%;
}

.game {
	display: flex;
	padding: 0.4em;
	overflow-y: hidden;

	&.landscape {
		flex-direction: row;
		height: 100%;
		box-sizing: border-box;

		.profile {
			margin-bottom: 0.5rem;
		}
	}
}
