.game {
    display: flex;
    padding: 0.4em;
    overflow-y: hidden;

    .game-id {
        margin-bottom: 1em;
        font-family: Arial, sans-serif;
        color: #fff;
        text-align: center;
    }

    &.landscape {
        flex-direction: row;

        .group {
            &:not(:first-child) {
                margin-left: $spacer;
            }
        }
    }

    &.portrait {
        flex-direction: column;

        .group {
            &:not(:first-child) {
                margin-top: $spacer;
            }
        }
    }

    .group {
        flex: 1;
        box-sizing: border-box;
    }

    .announcement {
        position: absolute;
        top: 2em;
        z-index: $piece-z-index + 1;
        width: 100%;
        padding: 2em 0;
        font-family: Arial, sans-serif;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);

        .sub {
            font-size: 1.2em;
            color: #eee;
        }

        .main {
            margin-top: 0.1em;
            font-size: 2em;
            font-weight: 700;
        }
    }

    .ready-up {
        box-sizing: border-box;
        padding: 0.4em 1.2em;
        font-size: 1.1em;
        color: $ready-up-button-text;
        cursor: pointer;
        background: $ready-up-button;
        // stylelint-disable-next-line
        border: none;
    }

    .reconnect {
        position: absolute;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-top: 50%;
        text-align: center;
        background: #566c86;
        border: 2px solid #000;

        .text {
            margin-bottom: 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.6em;
            color: #fff;
        }

        .button {
            font-size: 1.2em;
        }
    }

    .victory {
        position: absolute;
        top: 20%;
        left: 0;
        z-index: $piece-z-index + 1;
        width: 100%;
        padding: 4em 0;
        font-family: Arial, sans-serif;
        font-size: 1.4em;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);

        .game-over {
            padding-bottom: 0.8em;
            font-size: 1.8em;
            font-weight: 700;
            text-transform: uppercase;
        }

        .winner {
            font-style: italic;
            font-weight: 700;
            color: $profile-player-name;
        }
    }

    .shop-container {
        display: flex;
    }

    .phase-info,
    .round-indicator {
        margin-bottom: 0.6em;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}
