.github-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;

    /* stylelint-disable-next-line */
    a {
        font-family: Arial, sans-serif;
        font-size: 0.8em;
        font-style: italic;
        color: #fff;
    }
}
