.healthbar {
    width: 101%;
    height: 60%;
    box-sizing: border-box;
    margin: 0 auto;
    background: $healthbar-background;

    .fill {
        height: 100%;
    }

    &.friendly .fill {
        height: $healthbar-height;
        background: $friendly-healthbar-color;
    }

    &.enemy .fill {
        height: $healthbar-height;
        background: $enemy-healthbar-color;
    }
}
