.info {
    position: absolute;
    top: 3%;
    right: 4%;
    width: 72%;
    height: 20%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid #555;
    border-right: 3px solid #555;
    border-bottom: 2px solid #555;
}
