.info {
    height: 100%;
    flex: 1;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}
