.piece-stage {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 22%;
    height: 20%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    background: #555;
}
