.piece-stage {
    position: absolute;
    bottom: 0;
    width: 30%;
    height: 30%;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, sans-serif;
    line-height: 1.25;
    color: #fff;
    background: #555;
    border: 2px solid #1a1c2c;
}
