.piece-stage {
    width: 22%;
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: center;
    background: #555;
}
