$player-list-font-size: 0.8em;
$player-list-gutter-size: 0.4em;

.player-list {
    margin-bottom: 1rem;
}

.player-list-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    background: $player-list-background;

    &.opponent {
        border: 5px solid $player-list-background-opponent;
    }

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    .name {
        font-family: Arial, sans-serif;
        font-size: $player-list-font-size;
        font-weight: 700;
        color: $player-list-name;
        text-transform: uppercase;
    }

    &.local {
        .name {
            font-style: italic;
            color: $player-list-name-local;
        }
    }

    .healthbar {
        display: block;
        width: 100%;
        height: 12px;
    }

    .row {
        // stylelint-disable-next-line
        display: flex;
        justify-content: space-between;
        margin-bottom: $player-list-gutter-size;
    }

    .battle-info {
        // stylelint-disable-next-line
        width: fit-content;
        padding: 0.4em 1.2em;
        margin: 0 auto $player-list-gutter-size;
        font-family: Arial, sans-serif;
        font-size: 0.8em;
        color: #c3c3c3;
        text-align: center;
        background: #333;

        .highlight {
            font-weight: 700;
            color: #ffcd74;
            text-transform: uppercase;

            &.win {
                color: $win-streak;
            }

            &.loss {
                color: $lose-streak;
            }

            &.opponent-name {
                color: $player-list-name;
            }
        }
    }

    .ready-indicator {
        width: $player-list-font-size;
        height: $player-list-font-size;
        margin-left: 0.5em;

        &.ready {
            background: $ready-indicator;
        }

        &.not-ready {
            background: $not-ready-indicator;
        }
    }

    .badges {
        // stylelint-disable-next-line
        display: flex;
    }

    .streak-indicator {
        box-sizing: border-box;
        padding: 0 0.4em;
        font-family: Arial, sans-serif;
        font-size: $player-list-font-size;
        color: #fff;
        border-radius: 50%;

        &.win {
            background: $win-streak;
        }

        &.lose {
            background: $lose-streak;
        }
    }
}
