$warning-dark: #ff6464;
$warning-light: #ffd2d2;

.profile {
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    font-family: Arial, sans-serif;
    color: $profile-text;
    background: $profile-background;

    .name {
        font-weight: 700;
        color: $profile-player-name;
        text-transform: uppercase;
    }

    .item {
        margin-bottom: 0.4em;
    }

    .level {
        font-weight: 700;
    }

    .pieces {
        font-style: italic;

        &.warning {
            // stylelint-disable-next-line
            width: fit-content;
            padding: 0.6em 1em;
            font-weight: 700;
            color: $warning-dark;
            background: $warning-light;
            border: 2px solid $warning-dark;
        }
    }

    .xp-progress {
        position: relative;
        width: 70%;
        height: 2em;
        box-sizing: border-box;
        margin: 0 auto;
        background: $xp-bar-background;

        .fill {
            height: 100%;
            box-sizing: border-box;
            padding-left: 1em;
            background: $xp-bar-fill;
        }

        .contents {
            position: absolute;
            top: 0;
            right: 0.5em;
            font-weight: 700;
            line-height: 2em;
            color: $xp-bar-text;
        }
    }

    .level-bar {
        // stylelint-disable-next-line
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0.8em 0;
    }

    .buy-xp {
        width: 30%;
        box-sizing: border-box;
        padding: 0.4em 1.2em;
        margin-left: 1em;
        font-size: 1.1em;
        color: $buy-xp-button-text;
        cursor: pointer;
        background: $buy-xp-button;
        // stylelint-disable-next-line
        border: none;
    }
}
