$dark-tile: #38b764;
$light-tile: #a7f070;
$bench-tile: #ffcd75;

$friendly-healthbar-color: #20b720;
$enemy-healthbar-color: #e60d0d;
$healthbar-background: #636363;

$cooldownbar-color: #73eff7;
$info-border-color: #1a1c2c;

$game-background: #333c57;
$player-list-name: #fff;
$player-list-background: #566c86;
$player-list-background-opponent: #b13e53;
$card-name: #fff;

$bug-color: #9df5b3;
$electric-color: #dfe680;
$fighting-color: #bdb3c0;
$fire-color: #ec8f8f;
$flying-color: #d17652;
$ghost-color: #adacac;
$grass-color: #88f88e;
$ground-color: #756444;
$normal-color: #a8a8a8;
$poison-color: #bd7aa9;
$psychic-color: #745177;
$rock-color: #5f5f5f;
$water-color: #479dff;

$reroll-color: #555;

$phase-banner-background: rgba(0, 0, 0, 0.8);
