$dark-tile: #38b764;
$light-tile: #a7f070;
$bench-tile: #ffcd75;

$friendly-healthbar-color: #20b720;
$enemy-healthbar-color: #e60d0d;
$healthbar-background: #636363;

$cooldownbar-color: #73eff7;
$info-border-color: #1a1c2c;

$game-background: #333c57;
$player-list-name: #fff;
$player-list-name-local: #ffcd75;
$player-list-background: #566c86;
$player-list-background-opponent: #b13e53;
$card-name: #fff;
$balance: #fff;
$match-results-background: #333c57;
$create-lobby-button: #626262;
$join-lobby-button: #b13e53;

$ready-up-button: #38b764;
$ready-up-button-text: #000;
$buy-xp-button: #1a1c2c;
$buy-xp-button-text: #fff;
$xp-bar-fill: #ffcd75;
$xp-bar-background: #636363;
$xp-bar-text: #1a1c2c;
$profile-player-name: #ffcd75;
$profile-background: #566c86;
$profile-text: #fff;
$ready-indicator: #20b720;
$not-ready-indicator: #ccc;

$fire-color: #ec8f8f;
$forest-color: #88f88e;
$stone-color: #5f5f5f;
$water-color: #479dff;

$reroll-color: #555;

$feed-background-color: #566c86;
$send-chat-message-button-color: #b13e53;
$info-feed-message-color: #bebebe;
$player-chat-message-color: #bebebe;

$win-streak: #38b764;
$lose-streak: #b13e53;
