.card-selector {
    .cards {
        display: flex;
        width: 100%;

        .drop-to-sell {
            position: relative;
            min-height: 10rem;
            box-sizing: border-box;
            flex: 1;
            margin-bottom: 1rem;
            margin-left: 0.5rem;
            overflow: hidden;
            text-align: center;
            background: #fff;
            border: 2px solid #ccc;
            opacity: 0.6;
        }

        .drop-to-sell-text {
            position: absolute;
            top: 35%;
            left: 8%;
            display: block;
            width: 80%;
            font-family: Arial, sans-serif;
            font-size: 3em;
            color: #717171;
            transform: rotate(15deg);
        }
    }

    .shop {
        display: flex;
        flex-direction: column;
    }

    .balance {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.8em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        color: $balance;
        text-align: center;

        .item:not(:last-child) {
            margin-right: 1em;
        }
    }

    .reroll {
        padding: 0.6em 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        color: #fff;
        cursor: pointer;
        background: #566c86;

        /* stylelint-disable-next-line */
        border: none;

        &:disabled {
            color: #222;
            cursor: not-allowed;
            background: #666;
        }
    }
}
