.card {
    display: inline-block;
    box-sizing: border-box;
    padding: 0.2em 1em;
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-style: solid;
    border-width: 2px;

    .image {
        width: $card-image-size;
        height: $card-image-size;
    }

    .header {
        display: flex;
    }

    .price {
        height: $card-image-size;
        margin-right: 0.2em;
        font-size: 2em;
        line-height: $card-image-size;
    }

    &.reroll {
        background: $reroll-color;
        border-color: $reroll-color;
    }

    &.bug {
        border-color: $bug-color;
    }

    &.electric {
        border-color: $electric-color;
    }

    &.fighting {
        border-color: $fighting-color;
    }

    &.fire {
        border-color: $fire-color;
    }

    &.flying {
        border-color: $flying-color;
    }

    &.ghost {
        border-color: $ghost-color;
    }

    &.grass {
        border-color: $grass-color;
    }

    &.ground {
        border-color: $ground-color;
    }

    &.normal {
        border-color: $normal-color;
    }

    &.poison {
        border-color: $poison-color;
    }

    &.psychic {
        border-color: $psychic-color;
    }

    &.rock {
        border-color: $rock-color;
    }

    &.water {
        border-color: $water-color;
    }
}
