.feed {
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    font-family: Arial, sans-serif;
    color: #fff;
    background: $feed-background-color;

    .chat-input {
        display: flex;
        margin-bottom: 0.6rem;

        .text-input {
            flex-grow: 1;
            padding: 0.4em;
            color: #fff;
            background: $game-background;
            border: 0;
        }

        .send-button {
            padding: 0.4em;
            font-weight: 700;
            color: #fff;
            cursor: pointer;
            background: $send-chat-message-button-color;
            border: 0;
        }
    }

    .chat-feed-message {
        .sender {
            font-weight: 700;
        }

        .message {
            color: $player-chat-message-color;
        }
    }

    .battle-feed-message {
        padding: 0.3em 0;
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        text-align: center;
        background: $match-results-background;

        .score {
            font-size: 1.2em;
            font-weight: 700;
        }

        .vs {
            color: #b6b6b6;
        }

        .player-name {
            color: #e1e1e1;
        }
    }
}
