.game {
    display: flex;
    padding: $spacer;
    overflow-y: hidden;

    &.landscape {
        flex-direction: row;

        .group {
            &:not(:first-child) {
                padding-left: $spacer;
            }
        }
    }

    &.portrait {
        flex-direction: column;

        .group {
            &:not(:first-child) {
                padding-top: $spacer;
            }
        }
    }

    .group {
        flex: 1;
        box-sizing: border-box;
    }

    .board-container {
        position: relative;
        display: flex;
        margin: 0 auto;
        flex-grow: 0;
        /* stylelint-disable */
        flex-shrink: initial;
        flex-basis: initial;
        /* stylelint-enable */

        .banner {
            position: absolute;
            top: 0;
            width: 100%;
            padding: 2.5em 0;
            font-family: Arial, sans-serif;
            font-size: 1.8em;
            color: $banner-text;
            text-align: center;
            background: $banner-background;
        }
    }

    .shop-container {
        display: flex;
    }
}
