.game {
    display: flex;
    padding: $spacer;
    overflow-y: hidden;

    .game-id {
        margin-bottom: 1em;
        font-family: Arial, sans-serif;
        color: #fff;
        text-align: center;
    }

    &.landscape {
        flex-direction: row;

        .group {
            &:not(:first-child) {
                margin-left: $spacer;
            }
        }
    }

    &.portrait {
        flex-direction: column;

        .group {
            &:not(:first-child) {
                margin-top: $spacer;
            }
        }
    }

    .group {
        flex: 1;
        box-sizing: border-box;
    }

    .board-container {
        position: relative;
        display: flex;
        margin: 0 auto;
        flex-grow: 0;
        /* stylelint-disable */
        flex-shrink: initial;
        flex-basis: initial;
        /* stylelint-enable */
    }

    .announcement {
        position: absolute;
        width: 100%;
        padding: 2em 0;
        margin-top: 2em;
        font-family: Arial, sans-serif;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, 0.8);

        .sub {
            font-size: 1.2em;
            color: #eee;
        }

        .main {
            margin-top: 0.1em;
            font-size: 2em;
            font-weight: 700;
        }
    }

    .shop-container {
        display: flex;
    }

    .phase-info,
    .round-indicator {
        margin-bottom: 0.6em;
        font-family: Arial, sans-serif;
        font-size: 1.2em;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }
}
