.player {
    padding: 0.4em 1em;
    margin-bottom: 0.4em;
    font-weight: 700;
    text-align: left;
    background: #59616b;
}

.lobby {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    align-items: center;
    justify-content: center;
}

.lobby-info {
    display: flex;
    padding: 2em 5em;
    margin-top: 3em;
    text-align: center;
    background: #566c86;
}

.players {
    flex: 1 0 0;
}

.text {
    flex: 1 0 0;
    margin-left: 1em;
}

.player.bot {
    font-style: italic;
    color: #d0d0d0;
}

.lobby-id {
    margin-bottom: 1em;
    font-size: 1.6em;
    font-weight: 700;
}

.timeRemaining {
    padding: 0.5em 0.6em;
    margin-bottom: 1em;
    text-transform: uppercase;
    background: #333;

    .time {
        font-weight: 700;
    }
}

.host {
    margin-left: 1em;
    font-size: 0.7em;
    font-weight: 700;
    color: $lobby-host-color;
    text-transform: uppercase;
}

.start-game {
    padding: 0.5em 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #000;
    cursor: pointer;
    background: $lobby-host-color;

    /* stylelint-disable-next-line */
    border: none;
}
