.player-list-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem;
    background: #555;
    border: 2px solid #8a8a8a;

    &:not(:last-child) {
        margin-bottom: 0.8rem;
    }

    .name {
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    .healthbar {
        display: block;
        width: 100%;
        margin-top: 0.4em;
    }
}
