.tile {
    display: inline-block;
    width: percentage(1 / 8);
    height: 100%;
    user-select: none;

    .image {
        position: absolute;
        top: 0;
        left: 9%;
        width: 82%;
        height: 82%;
    }

    &.dark {
        background: $dark-tile;
    }

    &.light {
        background: $light-tile;
    }

    &.bench {
        background: $bench-tile;
        box-shadow: inset 0 0 2px darken($bench-tile, 50);
      
        .image {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
