.tile {
    display: inline-block;
    width: $tile-size;
    height: $tile-size;
    user-select: none;

    &.dark {
        background: $dark-tile;
    }

    &.light {
        background: $light-tile;
    }

    &.bench {
        background: $bench-tile;
        box-shadow: inset 0 0 2px darken($bench-tile, 50);
    }

    .image {
        position: absolute;
        top: 6px;
        left: ($tile-size - $sprite-size) / 2;

        width: $sprite-size;
        height: $sprite-size;
    }
}
