<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <meta charset="utf-8" />
    <title>Creature Chess</title>

    <%= googleAnalyticsScript %>

    <%= ghPagesRedirectScript %>
</head>

<body>
    <div id="approot" class="approot"></div>
</body>

</html>
