$warning-dark: #ff6464;
$warning-light: #ffd2d2;

.profile {
	padding: 0.25rem;
	font-family: Arial, sans-serif;
	color: $profile-text;
	background: $profile-background;

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 0.4em;
		}

		.item {
			flex: 1;
		}
	}

	.highlight {
		color: #ffcd75;
	}

	.level {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		font-weight: 700;
	}

	.pieces {
		font-size: 0.85em;
		font-style: italic;
		text-align: center;

		&.warning {
			// stylelint-disable-next-line
			width: fit-content;
			padding: 0.2em 0.4em;
			font-weight: 700;
			color: $warning-dark;
			background: $warning-light;
			border: 2px solid $warning-dark;
		}
	}

	.xp-progress {
		width: 50%;
		height: 1.75em;
		background: $xp-bar-background;
	}

	.xp-progress-fill {
		padding-left: 1em;
		background: $xp-bar-fill;
	}

	.xp-progress-contents {
		color: $xp-bar-text;
	}

	.buy-xp {
		width: 50%;
		height: 2em;
		box-sizing: border-box;
		padding: 0.5em 1em;
		margin-left: 0.5em;
		font-size: 1em;
		line-height: 1em;
		color: $buy-xp-button-text;
		cursor: pointer;
		background: $buy-xp-button;
		// stylelint-disable-next-line
		border: none;
	}
}
