// this file is named _ so it can be imported as "directory/" which resolves to "directory/_"
// no nice way to have an index file otherwise - SASS :(

@import "./style-default";
@import "./style-james";
