/* stylelint-disable */
.creature-image {
	image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges; /* Firefox                        */
	image-rendering: -o-crisp-edges; /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimize-contrast; /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}
/* stylelint-enable */

.piece-story-tiles {
	width: 640px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.piece-story {
	width: 128px;
	height: 128px;

	box-sizing: border-box;
}

.piece-story.dark {
	background: #38b764;
}

.piece-story.light {
	background: #a7f070;
}
