.content-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.game-overlay {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.8rem;
    margin: 0.6rem;
    overflow-y: scroll;
    font-family: Arial, sans-serif;
    background: #9da5bd;
}

.overlay-header {
    display: flex;
    flex-direction: row;
}

.overlay-title {
    flex: 1;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    text-decoration: underline;
}

.close {
    padding: 0;
    font-size: 1.8rem;
    font-weight: 700;
    background: none;

    /* stylelint-disable-next-line */
    border: none;
}

.overlay-content {
    overflow: scroll;
}
